


.info-text {
    word-break: break-all;
    align-items: center; /*세로 가운데 정렬*/
    transition: all 0.15s;
    user-select: none;
    text-align: center;
    border:2px solid #b388ff;
  }
.input {
    width:250px;
    color:gray;
    outline: none;
    border: none;
    font-size: small;
    border-bottom: 1px solid #e7b9ff;
}
.input2 {
    width:275px;
    color:gray;
    outline: none;
    border: none;
    font-size: small;
    border-bottom: 1px solid #e7b9ff;
}
.input3 {
    width:290px;
    color:gray;
    outline: none;
    border: none;
    font-size: small;
    border-bottom: 1px solid #e7b9ff;
}
.top-title{
    background: #b388ff;
    color: black;
    margin-bottom: 0.5rem;
    font-size: large;

}
.body-title{
    font-size:2rem;
}
.body-body{
    border-radius: 8px;
    padding:1rem;
    border:1px solid #b388ff;
    text-align: left;
}
.body-section{
    padding:3em;
    border-bottom: 1px solid #b388ff;
}
.top-body{
    background: #b388ff;
    color: white;
    cursor: pointer;
}
.top-body:hover{
    color: gold;
}
.item-title{
    padding:1rem;
    background: #b388ff;
    color: white;
}
.item-title:hover{
    color: #e7b9ff;;
}
.divider{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    border: 1px solid #b388ff;
}
.space{
    margin-top:2rem;
}
.circle {
    background: #b388ff;
    color: white;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */
  }

.circle:hover {
    background: #e7b9ff;
}

.more-button {
    margin: 0 auto;
    padding: 0.1rem;
    font-size: xx-small;
    width:60px;
    background: gold;
    color: black;
    cursor: pointer;
    
  }
  
.more-button:hover {
    background: black;
    color: gold;
    cursor: pointer;
    
  }