.account-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    /* margin: 0 auto; //페이지 중앙 정렬 */
    margin-top: 4rem;
  }
  
.account-form{
    /* text-align: center; */
    /* align-items: center; */
    margin : 1rem;
    border-bottom: 1px solid #e7b9ff;
    color: #b388ff;
    cursor: pointer;
  }  
.account-form-static{
    margin : 1rem;
    color: #b388ff;
  }
.title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #b388ff;;
    color: white;
  }

.form-wrapper {
  padding: 1rem;
  border-bottom: 1px solid #e7b9ff;
}
